@media (min-width: 320px) {
  main#feed .content .profile-page .profile-data .edit-profile {
    top: 10px;
    padding: 10px 19px;
    font-size: 15px;
  }
}
@media (min-width: 500px) {
  main#feed .content {
    border-left: 1px solid var(--outline);
    border-right: 1px solid var(--outline);
  }
  main#feed .bottom-menu {
    display: none !important;
  }
  article.tweets {
    margin-bottom: 0;
  }
}
@media (max-width: 500px) {
  article.tweets .tweet .body .content .icons {
    width: 95%;
  }
}
