<!DOCTYPE html>
<html lang="pt-br" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitter. É o que está acontecendo / Twitter</title>
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="../../node_modules/normalize.css/normalize.css" />
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="../../shared/styles/boot.css" />
    <link rel="stylesheet" href="../../assets/css/app/profile.css" />
    <link rel="stylesheet" href="../../assets/css/app/feed.css" />
    <link rel="stylesheet" href="../../assets/css/app/menubar.css" />
    <link rel="stylesheet" href="../../assets/css/app/sidebar.css" />
  </head>
  <body>
    <main id="feed" class="container-fluid px-0">
      <div class="d-flex wrapper justify-content-center">
        <section class="menubar">
          <div class="topside d-flex flex-column align-items-center">
            <button class="menu-button logo">
              <i class="fab fa-twitter"></i>
            </button>
            <button class="menu-button">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                />
              </svg>
              <strong>Página Inicial</strong>
            </button>
            <button class="menu-button">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                />
              </svg>
              <strong>Notifications</strong>
            </button>
            <button class="menu-button">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"
                />
              </svg>
              <strong>Favoritos</strong>
            </button>
            <button class="menu-button active">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                />
              </svg>
              <strong>Perfil</strong>
            </button>
            <button class="menu-button">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                />
                <path strokeLinecap="round" strokeLinejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
              <strong>Configuração</strong>
            </button>
            <button class="btn">
              <img src="../../assets/img/svg/feather.svg" alt="feather" />
              <span>Tweetar</span>
            </button>
          </div>
          <div class="botside d-flex align-items-center justify-content-center">
            <div class="avatar"></div>
            <div class="profile-data">
              <strong>Kevin Siqueira</strong>
              <span>@kevind3v</span>
            </div>
            <div class="exit">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
                />
              </svg>
            </div>
          </div>
        </section>
        <section class="content d-flex flex-column">
          <header class="header d-flex justify-content-between">
            <div class="d-flex">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10 19l-7-7m0 0l7-7m-7 7h18"
                  />
                </svg>
              </button>
              <div class="info d-flex flex-column">
                <strong>Kevin Siqueira</strong>
                <span>625 Tweets</span>
              </div>
            </div>
            <div class="dark-mode">
              <input type="checkbox" class="checkbox" id="theme-checkbox" />
              <label for="theme-checkbox" class="theme">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <div class="boll"></div>
              </label>
            </div>
          </header>

          <article class="profile-page d-flex flex-column">
            <div class="banner">
              <div class="avatar"></div>
            </div>
            <div class="profile-data d-flex flex-column">
              <button data-toggle="modal" data-target="#edit-profile" class="btn outlined edit-profile">
                Editar Perfil
              </button>

              <h1>Kevin Siqueira</h1>
              <h2>@kevind3v</h2>

              <p>Developer</p>

              <ul>
                <li>
                  <span class="material-icons-outlined"> location_on </span>
                  Itaquaquecetuba, São Paulo - Brasil
                </li>
                <li>
                  <span class="material-icons"> cake </span>
                  Nascido(a) em 14 de maio de 2002
                </li>
              </ul>

              <div class="followage d-flex">
                <span>segundo <strong>94</strong></span>
                <span><strong>194</strong> seguidores</span>
              </div>
            </div>
          </article>

          <div class="tabs">
            <span class="tab">Tweets</span>
          </div>

          <article class="tweets d-flex flex-column flex-shrink-0">
            <article class="tweet d-flex flex-column">
              <div class="retweeted d-flex">
                <i class="fas fa-hashtag"></i>
                Você retweetou
              </div>
              <div class="body d-flex">
                <div class="avatar flex-shrink-0"></div>
                <div class="content d-flex flex-column">
                  <header class="d-flex align-items-center">
                    <strong>BrBunny</strong>
                    <span>@brbunny</span>
                    <div class="dot"></div>
                    <div class="time">14 de mai</div>
                  </header>
                  <p class="description">Vamos voar</p>
                  <div class="image"></div>
                  <div class="icons d-flex align-items-center justify-content-between">
                    <div class="status">
                      <i class="far fa-comment"></i>
                      25
                    </div>
                    <div class="status">
                      <i class="fas fa-retweet"></i>
                      18
                    </div>
                    <div class="status">
                      <i class="fas fa-heart"></i>
                      25
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </article>

          <article class="bottom-menu d-flex justify-content-between">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
              />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
              />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
              />
            </svg>
          </article>
        </section>
        <section class="sidebar">
          <article class="search">
            <input type="text" placeholder="Buscar no Twitter" />
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
          </article>
          <article class="body d-flex flex-column">
            <article class="list d-flex flex-column">
              <div class="item">
                <span class="title"> Talvez você curta</span>
              </div>
              <div class="item">
                <div class="follow-suggestion d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <div class="avatar"></div>
                    <div class="info d-flex flex-column">
                      <strong>Larissa Rodrigues Miranda</strong>
                      <span>@lau</span>
                    </div>
                  </div>
                  <button class="btn outlined">Seguir</button>
                </div>
              </div>
              <div class="item">
                <div class="follow-suggestion d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <div class="avatar"></div>
                    <div class="info d-flex flex-column">
                      <strong>Larissa Rodrigues Miranda</strong>
                      <span>@lau</span>
                    </div>
                  </div>
                  <button class="btn outlined">Seguir</button>
                </div>
              </div>
            </article>

            <article class="list d-flex flex-column">
              <div class="item">
                <span class="title"> Talvez você curta</span>
              </div>
              <div class="item">
                <div class="news d-flex flex-column">
                  <span>Titulo da noticia</span>
                  <strong>Olha essa noticia</strong>
                </div>
              </div>
              <div class="item">
                <div class="news d-flex flex-column">
                  <span>Titulo da noticia</span>
                  <strong>Olha essa noticia</strong>
                </div>
              </div>
              <div class="item">
                <div class="news d-flex flex-column">
                  <span>Titulo da noticia</span>
                  <strong>Olha essa noticia</strong>
                </div>
              </div>
              <div class="item">
                <div class="news d-flex flex-column">
                  <span>Titulo da noticia</span>
                  <strong>Olha essa noticia</strong>
                </div>
              </div>
              <div class="item">
                <div class="news d-flex flex-column">
                  <span>Titulo da noticia</span>
                  <strong>Olha essa noticia</strong>
                </div>
              </div>
              <div class="item">
                <div class="news d-flex flex-column">
                  <span>Titulo da noticia</span>
                  <strong>Olha essa noticia</strong>
                </div>
              </div>
              <div class="item">
                <div class="news d-flex flex-column">
                  <span>Titulo da noticia</span>
                  <strong>Olha essa noticia</strong>
                </div>
              </div>
              <div class="item">
                <div class="news d-flex flex-column">
                  <span>Titulo da noticia</span>
                  <strong>Olha essa noticia</strong>
                </div>
              </div>
            </article>
          </article>
        </section>
      </div>
    </main>

    <div
      class="modal fade"
      id="edit-profile"
      tabindex="-1"
      role="dialog"
      aria-labelledby="edit-profileTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered app-modal" role="document">
        <div class="modal-content">
          <form action="#" class="form">
            <div class="modal-header px-3 align-items-center justify-content-between">
              <div class="title d-flex align-items-center">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn-modal">
                  <img src="../../assets/img/svg/close-outline.svg" alt="" />
                </button>
                <strong>Editar Perfil</strong>
              </div>
              <button type="submit" class="btn btn-save">Save</button>
            </div>
            <div class="modal-body p-0 profile-page">
              <div class="banner">
                <button class="edit-photo">
                  <img src="../../assets/img/svg/camera.svg" alt="Foto" />
                </button>
                <div class="avatar"></div>
                <button class="edit-photo-avatar">
                  <img src="../../assets/img/svg/camera.svg" alt="Foto" />
                </button>
              </div>
              <div class="forms">
                <div class="form-group">
                  <input id="name" class="form-control i-form" type="text" />
                  <label for="name">Nome</label>
                </div>
                <div class="form-group">
                  <textarea maxlength="160" id="bio" rows="4" class="form-control i-form"></textarea>
                  <label class="bio" for="bio">Bio</label>
                  <span class="count count-bio"><span>0</span>/160</span>
                </div>
                <div class="form-group">
                  <input id="location" class="form-control i-form" type="text" />
                  <label class="location" for="location">Localização</label>
                  <span class="count count-location"><span>0</span>/30</span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- JS -->
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../shared/scripts/theme.js"></script>
    <script src="../../shared/scripts/inputs.js"></script>
  </body>
</html>
