<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitter. É o que está acontecendo / Twitter</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css" />
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="../shared/styles/boot.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/responsive.css" />
  </head>
  <body>
    <header class="header navbar-light bg-white">
      <nav class="navbar container">
        <span class="navbar-brand" href="#">
          <a href="#">
            <img src="../assets/img/svg/bird.svg" width="25" height="25" class="d-inline-block align-top" alt="" />
          </a>
          Redefinir Senha
        </span>
      </nav>
    </header>
    <main id="forget" class="container mt-4">
      <div class="content">
        <form class="py-4" action="#" method="POST">
          <h3>Encontre sua conta do Twitter</h3>
          <p>Digite seu e-mail, número de celular ou nome de usuário.</ṕ>
          <div class="form-group">
            <input required id="user" class="form-control" type="text" />
          </div>
          <button class="btn mt-4" type="submit">Buscar</button>
        </form>
      </div>
    </main>

    <!-- JS -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
