@media (max-width: 992px) {
  #login main .brand {
    padding: 45px;
    height: 220px;
  }
}
@media (min-width: 992px) {
  #login main .middle .btn-login,
  #login main .middle .btn-sign-up {
    width: 70%;
  }
}
