@media (max-width: 768px) {
  .sign-modal {
    margin: 0;
    max-width: 100% !important;
    height: 100vh !important;
    align-items: inherit;
  }
}
@media (min-width: 768px) {
  .sign-modal,
  .sign-modal .modal-content {
    min-height: 400px;
    max-height: 90vh;
    height: 650px;
    min-width: 600px;
    width: 600px;
    max-width: 80vw;
    border-radius: 16px;
  }
}
@media (max-width: 992px) {
  #main main .brand {
    padding: 45px;
    height: 220px;
  }
}
@media (min-width: 992px) {
  #main main .middle .btn-login,
  #main main .middle .btn-sign-up {
    width: 70%;
  }
}
