/*-----------------*/
/*----- INDEX -----*/
/*-----------------*/
#main {
  width: 100% !important;
  height: 100% !important;
  background: var(--primary) !important;
}
#main main {
  height: 100%;
  max-height: 100%;
}
#main main .banner {
  width: 100%;
  background: url('../img/bg-log-in.png') var(--primary);
  background-repeat: no-repeat;
  background-size: cover;
}
#main main .brand {
  padding: 30px;
  height: 280px;
  max-width: 380px;
}
#main main .middle i,
#login .form i {
  color: var(--white);
  font-size: 50px;
  margin-bottom: 50px;
}
#main main .middle h1 {
  line-height: 45px;
  margin-bottom: 40px;
  font-weight: 800;
}
#main main .middle h4 {
  line-height: 35px;
  margin-bottom: 20px;
  font-weight: 700;
}
#main main .middle .btn-sign-up {
  background-color: var(--twitter);
  color: #fff;
}
#main main .middle .btn-login {
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid var(--twitter);
  color: var(--twitter);
}
#main main .middle .btn-sign-up:hover {
  background-color: var(--twitter-light-hover);
}
#main main .middle .btn-login:hover {
  background-color: var(--twitter-light-hover-rgba);
}
#main footer .nav-link {
  padding: 5px 15px;
  color: #aab8c2;
  font-size: 12px;
}
#main footer a.nav-link:hover {
  text-decoration: underline !important;
}
/*-----------------*/
/*----- LOGIN -----*/
/*-----------------*/
#login .form {
  max-width: 400px;
}
#login .form i {
  font-size: 35px;
  margin-bottom: 35px;
}
#login .form h3 {
  font-weight: 700;
}
#login .form button {
  background: var(--twitter);
  color: #fff;
}
#login .form button:disabled {
  opacity: 0.5;
}
#login .form button:hover {
  background-color: var(--twitter-light-hover);
}
#login .form .link-login {
  color: var(--twitter);
  margin-top: 15px;
  font-size: 14px;
}
#login .form .link-login:hover {
  text-decoration: underline !important;
}
/*------------------*/
/*----- FORGET -----*/
/*------------------*/
.header {
  min-height: 40px;
  box-shadow: 0 0 3px #aaa;
}
.header nav {
  height: 40px;
  max-width: 590px;
  padding: 0;
}
.header nav .navbar-brand {
  font-size: 16px;
  color: #858585;
  padding: 0;
  padding-left: 5px;
}
.header nav .navbar-brand:hover {
  color: #858585;
}
#forget .content {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  max-width: 590px;
  margin: 10px auto 20px;
}
#forget .content h3 {
  font-weight: 700;
  margin-bottom: 36px;
}
#forget .content p {
  font-size: 14px;
}
#forget .content input {
  border-radius: 100px;
  width: 300px;
  line-height: 20px;
  border: 1px solid #ccd6dd;
  outline: 0;
  font-size: 13px;
}
.sign-modal button.btn-sign-in,
#forget .content button {
  background-color: var(--twitter);
  border: 1px solid var(--twitter);
  color: #fff;
}
#forget .content button {
  padding: 6px 16px;
}
.sign-modal button.btn-sign-in:hover,
#forget .content button:hover {
  background-color: var(--twitter-light-hover);
  border: 1px solid var(--twitter-light-hover);
}
/*----------------------*/
/*----- SIGN MODAL -----*/
/*----------------------*/
.modal {
  background-color: var(--twitter-modal);
}
.sign-modal .modal-content {
  background: var(--primary);
}
.sign-modal .modal-content .modal-header {
  border: none;
  padding: 0 15px;
  height: 53px;
}
.sign-modal .modal-content h4 {
  font-weight: 700;
}
.sign-modal .modal-content small {
  font-size: 16px;
}
.sign-modal .modal-content small a {
  color: var(--twitter);
}
