/*-----------------------*/
/*----- MENU BOTTOM -----*/
/*-----------------------*/
main#feed .bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: var(--primary);
  width: 100%;
  border-top: 1px solid var(--outline);
  padding: 8px min(46px, max(10vw, 10px));
}
main#feed .bottom-menu svg {
  width: 25px;
  stroke: var(--gray);
  cursor: pointer;
}
main#feed .bottom-menu svg:hover,
main#feed .bottom-menu svg.active {
  stroke: var(--twitter) !important;
}
@media (min-width: 500px) {
  main#feed .bottom-menu {
    display: none !important;
  }
}
/*---------------------*/
/*----- MENU LEFT -----*/
/*---------------------*/
section.menubar::-webkit-scrollbar,
section.menubar {
  display: none;
}
section.menubar {
  height: 100vh;
}
section.menubar .topside .menu-button {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
  padding: 8.25px 0;
  outline: 0;
  background: transparent;
  border: none;
}
section.menubar .topside .menu-button {
  cursor: pointer;
  border-radius: 25px;
}
section.menubar .topside .menu-button svg {
  height: 1.75rem;
  width: 1.75rem;
}
section.menubar .topside .menu-button:hover {
  background: var(--twitter-dark-hover);
}
section.menubar .topside .menu-button:hover > svg,
section.menubar .topside .menu-button:hover > strong,
section.menubar .topside .menu-button.active > strong,
section.menubar .topside .menu-button.active > svg {
  color: var(--twitter);
  stroke: var(--twitter);
}

section.menubar .topside .menu-button + a {
  margin-top: 10px;
}
section.menubar .topside .menu-button + section.menubar .topside .menu-button span {
  flex-shrink: 0;
  font-size: 30px;
  color: var(--white);
}
section.menubar .topside .menu-button + a:last-child {
  margin-top: 20px;
  width: 48px;
  height: 48px;
  position: relative;
}
section.menubar .topside .menu-button + a:last-child img {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
}
section.menubar .topside .menu-button + a:last-child span {
  display: none;
  color: #fff;
}
section.menubar .topside .menu-button strong {
  display: none;
}
section.menubar .topside .logo {
  width: 48px;
  height: 48px;
  position: relative;
}
section.menubar .topside .logo i {
  font-size: 1.8rem;
  color: var(--brand) !important;
  position: absolute;
  left: 11px;
  top: 11px;
}
section.menubar .botside {
  margin-top: 20px;
}
section.menubar .botside .avatar {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
  border-radius: 50%;
}
section.menubar .botside .profile-data {
  display: none;
}
section.menubar .botside .exit {
  display: inline-block;
  width: 25px;
  height: 25px;
  color: var(--white);
  cursor: pointer;
}
section.menubar .botside .exit:hover > svg {
  stroke: var(--like);
}
@media (max-width: 1280px) {
  section.menubar .botside {
    flex-direction: column;
  }
  section.menubar .botside .exit {
    margin-top: 15px;
    margin-left: 5px;
  }
}
@media (min-width: 1280px) {
  section.menubar .topside {
    align-items: flex-start !important;
  }
  section.menubar .topside .menu-button {
    padding-right: 15px;
    padding-left: 15px;
  }
  section.menubar .topside .logo {
    margin-left: 5px;
  }
  section.menubar .topside .menu-button + a:last-child {
    width: 100%;
    height: unset;
  }
  section.menubar .topside .menu-button + a:last-child span {
    display: inline;
  }
  section.menubar .topside .menu-button + a:last-child img {
    display: none;
  }
  section.menubar .topside .menu-button strong {
    display: inline;
    margin-left: 19px;
    font-weight: bold;
    font-size: 19px;
  }
  section.menubar .botside .profile-data {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    font-size: 14px;
  }
  section.menubar .botside .profile-data strong {
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  section.menubar .botside .profile-data span {
    font-weight: normal;
    color: var(--gray);
  }
  section.menubar .botside .exit {
    margin-left: 30px;
  }
}
@media (min-width: 500px) {
  section.menubar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: sticky;
    top: 0;
    left: 0;

    padding: 9px 19px 20px;
    max-height: 100vh;
    overflow-y: auto;
  }
}
