main#feed {
  background: var(--primary);
}
main#feed .wrapper {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
main#feed .content {
  width: min(601px, 100%);
}

/*----- PROFILE PAGE ------*/
.profile-page {
  height: 100%;
  overflow-y: auto;

  scrollbar-width: none; /** Firefox */
}
.profile-page::-webkit-scrollbar {
  display: none;
}
.profile-page .banner {
  flex-shrink: 0;
  width: 100%;
  height: min(33vw, 199px);
  background: var(--outline);
  position: relative;
}
.profile-page .banner .avatar {
  width: max(45px, min(135px, 22vw));
  height: max(45px, min(135px, 22vw));
  border: 3.75px solid var(--primary);
  border-radius: 50%;
  position: absolute;
  bottom: max(-60px, -10vw);
  left: 15px;
}
main#feed .content .profile-page .profile-data {
  padding: min(calc(10vw + 7px), 67px) 16px 0;
  position: relative;
}
main#feed .content .profile-page .profile-data .edit-profile {
  position: absolute;
  top: 2vw;
  right: 7px;
  padding: 4px 16px;
  font-size: 13px;
}
main#feed .content .profile-page .profile-data h1 {
  font-weight: bold;
  font-size: 19px;
}
main#feed .content .profile-page .profile-data h2 {
  font-weight: normal;
  font-size: 15px;
  color: var(--gray);
}
main#feed .content .profile-page .profile-data p {
  font-size: 15px;
  margin-top: 11px;
}
main#feed .content .profile-page .profile-data a {
  text-decoration: none;
  color: var(--twitter);
}
main#feed .content .profile-page .profile-data ul {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
main#feed .content .profile-page .profile-data ul li {
  font-size: 15px;
}
main#feed .content .profile-page .profile-data ul li,
main#feed .content .profile-page .profile-data ul li span {
  color: var(--gray);
  display: flex;
}
main#feed .content .profile-page .profile-data ul li span {
  font-size: 20px;
  margin-right: 5px;
}
main#feed .content .profile-page .profile-data .followage span {
  font-size: 15px;
  color: var(--gray);
}
main#feed .content .profile-page .profile-data .followage span + span {
  margin-left: 20px;
}
/*----------------*/
/*----- MODAL-----*/
/*----------------*/
.app-modal .modal-content form {
  height: 100%;
}
.app-modal .modal-header {
  border-bottom: 1px solid var(--outline) !important;
}
.app-modal .modal-header .title .btn-modal {
  border: none;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.app-modal .modal-header .title .btn-modal:hover {
  background: var(--twitter-dark-hover);
}
.app-modal .modal-header .title .btn-modal img {
  width: 30px;
}
.app-modal .modal-header .title strong {
  font-size: 19px;
  margin-left: 20px;
}
.app-modal .modal-header .btn-save {
  height: 32px;
  padding: 0 18px;
}
.app-modal .modal-body {
  position: relative;
  height: 87%;
  overflow: auto;
}
.app-modal .modal-body .forms {
  padding: min(calc(10vw + 7px), 67px) 16px 0;
}
.app-modal .modal-body .forms textarea:focus ~ .count,
.app-modal .modal-body .forms input:focus ~ .count {
  display: inline;
}
.app-modal .modal-body .forms .count {
  position: absolute;
  right: 5px;
  top: 2px;
  font-size: 13px;
  color: var(--gray);
  display: none;
}
.app-modal .modal-body .forms .count,
.app-modal .modal-body .forms .count span {
  color: var(--gray);
}
.app-modal .modal-body .file-image {
  display: none;
}
.app-modal .modal-body .edit-photo {
  position: initial !important;
  cursor: pointer;
}
.image_avatar,
.image_banner {
  display: block;
  max-width: 100%;
}
#profile_banner {
  background-size: cover !important;
}
.app-modal .modal-body .banner .edit-photo-icon {
  position: relative;
  top: 0;
  border: none;
  background: transparent;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}
.app-modal .modal-body .banner .edit-photo-icon:hover {
  background: var(--twitter-modal);
}
.app-modal .modal-body .banner .edit-photo-icon img {
  width: 25px;
  height: 25px;
}
/* .app-modal .modal-body .banner .edit-photo {
  top: 15px;
  left: 15px;
} */

/* .app-modal .modal-body .banner .edit-photo:hover {
  background: var(--twitter-modal);
} */
/*----------------*/
/*----- TABS -----*/
/*----------------*/
main#feed .content .tabs {
  margin-top: 10px;
  padding: 11px 0 15px;
  border-bottom: 2px solid var(--twitter);
  text-align: center;
}
main#feed .content .tabs:hover {
  background: var(--twitter-dark-hover);
}
main#feed .content .tabs .tab {
  color: var(--twitter);
  font-weight: bold;
  font-size: 15px;
  outline: 0;
  cursor: pointer;
}
@media (min-width: 320px) {
  main#feed .content .profile-page .profile-data .edit-profile {
    top: 10px;
    padding: 10px 19px;
    font-size: 15px;
  }
}
@media (min-width: 500px) {
  main#feed .content {
    border-left: 1px solid var(--outline);
    border-right: 1px solid var(--outline);
  }
}
