/*---------------------*/
/*----- TWEET-BOX -----*/
/*---------------------*/
main#feed .content .tweet-box {
  border-bottom: 1px solid var(--outline);
  width: 100%;
  padding: 10px 20px;
}
main#feed .content .tweet-box .avatar {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 50%;
}
main#feed .content .tweet-box .tweet-box-content {
  width: 100%;
  margin-left: 10px;
}
main#feed .content .tweet-box .preview_images {
  width: 100%;
  overflow-x: auto;
}
main#feed .content .tweet-box .preview_images .images {
  position: relative;
  margin: 5px;
  width: 100px;
  height: 100px;
  background: url('https://source.unsplash.com/random?v=1') var(--outline);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 14px;
  border: 1px solid var(--outline);
}
main#feed .content .tweet-box .preview_images .images > span {
  position: absolute;
  top: 5px;
  right: 5px;
  flex-shrink: 0;
  text-align: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--like);
  cursor: pointer;
}
main#feed .content .tweet-box .preview_images .images > span i {
  margin-top: 4.4px;
  color: #fff;
  font-size: 14px;
}
main#feed .content .tweet-box textarea {
  margin-top: 10px;
  background: transparent;
  width: 100%;
  border: none;
  height: 35px;
  min-height: 35px;
  font-size: 20px;
  outline: none;
  resize: none;
}
main#feed .content .tweet-box textarea::placeholder {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

main#feed .content .tweet-box .tweet-box-content .btn-tweet {
  max-height: 40px;
  margin-top: 10px;
  padding: 10px 15px;
}
main#feed .content .tweet-box .tweet-box-content .btn-icons .btn-icon {
  padding: 8px;
  border-radius: 50%;
  margin-left: -8px;
  cursor: pointer;
}
main#feed .content .tweet-box .tweet-box-content .btn-icons .btn-icon:hover {
  background: var(--twitter-dark-hover);
}
main#feed .content .tweet-box .tweet-box-content .btn-icons .btn-icon + .btn-icon {
  margin-left: 1px;
}
main#feed .content .divisor {
  height: 12px;
  width: 100%;
  border-bottom: 1px solid var(--outline);
  background: var(--divisor);
}
