/*---------------------*/
/*----- TWEET-BOX -----*/
/*---------------------*/
main#feed .content .tweet-box {
  border-bottom: 1px solid var(--outline);
  width: 100%;
  padding: 10px 20px;
}
main#feed .content .tweet-box .avatar {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 50%;
}
main#feed .content .tweet-box .tweet-box-content {
  width: 100%;
  margin-left: 10px;
}
main#feed .content .tweet-box .preview_images {
  width: 100%;
  overflow-x: auto;
}
main#feed .content .tweet-box .preview_images .images {
  position: relative;
  margin: 5px;
  width: 100px;
  height: 100px;
  background: url('https://source.unsplash.com/random?v=1') var(--outline);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 14px;
  border: 1px solid var(--outline);
}
main#feed .content .tweet-box .preview_images .images > span {
  position: absolute;
  top: 5px;
  right: 5px;
  flex-shrink: 0;
  text-align: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--like);
  cursor: pointer;
}
main#feed .content .tweet-box .preview_images .images > span i {
  margin-top: 4.4px;
  color: #fff;
  font-size: 14px;
}
main#feed .content .tweet-box textarea {
  margin-top: 10px;
  background: transparent;
  width: 100%;
  border: none;
  height: 35px;
  min-height: 35px;
  font-size: 17px;
  outline: none;
  resize: none;
}
main#feed .content .tweet-box textarea::placeholder {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

main#feed .content .tweet-box .tweet-box-content .btn-tweet {
  max-height: 40px;
  margin-top: 10px;
  padding: 10px 15px;
}
main#feed .content .tweet-box .tweet-box-content .btn-icons .btn-icon {
  border: none;
  outline: none;
  padding: 0px;
  margin: 0 5px 0 0;
  box-shadow: none;
  line-height: 0px;
  width: 35px;
  height: 35px;
  border-radius: 10em;
  position: relative;
  cursor: pointer;
  background: transparent;
  transition: all 0.1s ease-in-out;
}
main#feed .content .tweet-box .tweet-box-content .btn-icons .btn-icon:disabled > img {
  opacity: 0.5;
}
main#feed .content .tweet-box .tweet-box-content .btn-icons .btn-icon > img {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
main#feed .content .tweet-box .tweet-box-content .btn-icons .btn-icon:hover {
  background: var(--twitter-dark-hover);
}
main#feed .content .tweet-box .tweet-box-content .btn-icons .btn-icon + .btn-icon {
  margin-left: 1px;
}
main#feed .content .divisor {
  height: 12px;
  width: 100%;
  border-bottom: 1px solid var(--outline);
  background: var(--divisor);
}
div.emojionearea {
  border: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}
div.emojionearea div.emojionearea-editor {
  border: none !important;
  outline: 0 !important;
  box-shadow: none !important;
  padding: 0px;
  resize: none;
  font-size: 16px;
  color: #002237;
  line-height: 20px;
  min-height: 40px !important;
  max-height: unset !important;
  white-space: normal !important;
  max-width: 31.3em !important;
  overflow: hidden;
}
div.emojionearea div.emojionearea-editor::before {
  color: #72777c;
  font-size: 16px;
}
div.emojionearea div.emojionearea-button {
  display: none !important;
}
